<head>
    <title>PAGE POTIN</title>
</head>
<body>
    <h1>Voici la page du potin n° <%= id %></h1>
        <p>
           son auteur, </a> <%= gossip.author %><br/>
           le contenu, du potin,</a> <%= gossip.content %> 
        </p>
   <a href="/">lien pour revenir à la page d'accueil </a>
</body>
